@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form>
        <label>Upload file: <input type="file" id="file"/></label>
        <label>Upload id: <input readonly type="text" id="uploadId"/></label>
        <input type="button" id="resume" value="Resume" />
        <input type="button" id="clear" value="Clear" />
    </form>
    <span id="message"></span>
</div>
