@page
@using Juice.Audit
@model Juice.Audit.Tests.Host.Pages.IndexModel
@inject IAuditContextAccessor auditContextAccessor
@{
}

<h1>@auditContextAccessor.AuditContext?.AccessRecord?.Request?.Path</h1>

<script src="~/lib/juice-js/upload/dist/jupload.js"></script>